body {



background-image: url('IMG/Background2.png'), url('IMG/Background_eyes2.png');
background-size: 100%;
background-blend-mode: hard-light;
/*background-color: rgba(0, 0, 0, 0.829); */


background-position: center;

animation: backgroundFlicker;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;


}

/*BACKGROUND ANIMATION*/

@keyframes backgroundFlicker {
  0% {
  background-blend-mode: hard-light;
  }


  
  50%{
    background-blend-mode: overlay;
  }

  60%{
      background-blend-mode: hard-light;
  }

  100%{
    background-blend-mode: hard-light;
  }
}




h1 {
  text-align: center;
  width: 100%;
  background-color: #750606af;
  color: white;  


  border-top: 1px solid black;
  border-bottom: 1px solid black;
}


/* FOOTER */

.site-footer,
footer {
	width: 100%;
	text-align: center;
	padding: 1.5rem 0;
	color: black;
	border-top: 1px solid black;
  border-bottom: 1px solid black;
	font-size: 0.95rem;
	margin-top: auto;


    background-color: #750606af;
    color: white;

}

/*END FOOTER*/

/* MENU */

ul {
  list-style-type: none;
  margin: 1;
  padding: 0;
  width: 200px;
  background-color: #ffffff;


}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;

    border: 0.2px solid black;

}

/* Change the link color on hover */
li a:hover {
  background-color: #750606af;
  color: white;
}

/*END MENU*/

/*ACCUEIL*/


.accgridparent {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;

    color: white;

    /*POSITION*/
    width: 100%;
    text-align: center;

    margin-top: 15%;
    margin-bottom: 10%;
  
}
    
/*DIV GRID POSITIONS*/
.divacc1{
    grid-row-start: 1; 
}
.divacc2{
    grid-row-start: 2; 
}
.divacc3{
    grid-row-start: 3; 
}
.divacc4{
    grid-row-start: 4; 
}

/* HOVER EFFECT ON THE DIVS */
.divacc1:hover{
    background-color: #750606af;
  
}
.divacc2:hover{
    background-color: #750606af;
}
.divacc3:hover{
    background-color: #750606af;
}
.divacc4:hover{
    background-color: #750606af;
}

/* === A voir pour changer l'animaton des yeux - le détacher du background et le mettre en float? pour plus de liberté sur l'animation + hover réaction */